In [1]:
from re import L
import pandas as pd
import numpy as np
import datetime 
import os
import glob

path = 'C:/Users/nadia/OneDrive/Desktop/pirpython'
extension = 'csv'
os.chdir(path)
files_lst = glob.glob('*.{}'.format(extension))

for fl in files_lst:
    if fl[-9:] != 'utput.csv':
        namee = str(fl[:-4])
        print(fl, namee)
        lines_of_new_file = []
        data = pd.read_csv(fl)
        data['DATETIME']=pd.to_datetime(data['DATETIME'])

print("DATASET")
print(data.head(351), '\n')

check.csv check
PIRPYTHON.csv PIRPYTHON
DATASET
               DATETIME   C6H6   NO2   SO2   PM10  PM2.5    O3   CO
0   2020-01-01 00:00:00   9.98  57.0   8.0  133.0  112.0   8.0  NaN
1   2020-01-01 01:00:00  11.15  56.0   8.0  142.0  120.0  10.0  NaN
2   2020-01-01 02:00:00  11.71  53.0   9.0  197.0  175.0   6.0  NaN
3   2020-01-01 03:00:00   9.26  46.0   7.0  146.0  123.0   6.0  NaN
4   2020-01-01 04:00:00   9.68  45.0   8.0  133.0  117.0   5.0  NaN
..                  ...    ...   ...   ...    ...    ...   ...  ...
346 2020-01-15 10:00:00    NaN  52.0  16.0   34.0   21.0   NaN  2.0
347 2020-01-15 11:00:00    NaN  49.0  13.0   33.0   22.0   NaN  0.1
348 2020-01-15 12:00:00    NaN  47.0  12.0   33.0   23.0   NaN  0.1
349 2020-01-15 13:00:00   2.09  40.0  12.0   30.0   17.0  14.0  0.1
350 2020-01-15 14:00:00   2.03  37.0  16.0   30.0   16.0  20.0  0.1

[351 rows x 8 columns]

In [47]:
# adding columns for later

data['date'] = data['DATETIME'].dt.date

data['O3rcount'] = ''
data['COrcount'] = ''
data['O3roll'] = ''
data['COroll'] = ''

for tc in range(8):
    data.loc[tc,'O3rcount'] = float('NaN')
    data.loc[tc,'COrcount'] = float('NaN')
    data.loc[tc,'O3roll'] = float('NaN')
    data.loc[tc,'COroll'] = float('NaN')
        

for ln in range (7,len(data)):

    lst_t_o3 = []
    lst_t_co = []
    lst_r_o3 = []
    lst_r_co = []

    for ch in range(8):
        if str(data['O3'].loc[ln-ch]) != 'nan' and str(data['O3'].loc[ln-ch]) != '':
            lst_t_o3.append(data['O3'].loc[ln-ch])
            lst_r_o3.append(data['O3'].loc[ln-ch])
        if str(data['CO'].loc[ln-ch]) != 'nan' and str(data['CO'].loc[ln-ch]) != '':
            lst_t_co.append(data['CO'].loc[ln-ch])
            lst_r_co.append(data['CO'].loc[ln-ch])
             
    data.loc[ln,'O3rcount'] =float(len(lst_t_o3))
    data.loc[ln,'COrcount'] =float(len(lst_t_co))

    if len(lst_r_o3)!= 0:
        data.loc[ln,'O3roll'] = sum(lst_r_o3)/float(len(lst_r_o3))
    else:
        data.loc[ln,'O3roll'] = 0

    if len(lst_r_co)!= 0:    
        data.loc[ln,'COroll'] = sum(lst_r_co)/float(len(lst_r_co))
    else:
        data.loc[ln,'COroll'] = 0
        
all_indx_rm = []
for i in data['O3rcount']:
    if str(i) != 'nan' and str(i) != '':
        if int(i) < 6:
            indxes = data.index[data['O3rcount'] == i]
            for indx in indxes:
                if indx not in all_indx_rm:
                    all_indx_rm.append(indx)
for idx in all_indx_rm:
    data.loc[idx,'O3']= float('NaN')


all_indx_rm2 = []
for i in data['COrcount']:
    if str(i) != 'nan' and str(i) != '':
        if int(i) < 6:
            indxes2 = data.index[data['COrcount'] == i]
            for indx2 in indxes2:
                if indx2 not in all_indx_rm2:
                    all_indx_rm2.append(indx2)
for idx2 in all_indx_rm2:
    data.loc[idx2,'CO']= float('NaN')

data.to_csv('check.csv')

# print(data.head(350),'\n')

In [48]:
#second dataframe for calculations

grouped_single = data.groupby('date').agg({'SO2': ['count','mean'], 'PM10': ['count','mean'], 'PM2.5': ['count','mean'], 'O3roll': ['count','max'] , 'COroll': ['count','max']})
grouped_single.replace('', np.nan).count()
grouped_single.head(49)

             SO2             PM10            PM2.5            O3roll          \
           count       mean count       mean count       mean  count     max
date
2020-01-01    24   7.750000    24  63.500000    24  49.375000     17  29.125
2020-01-02    24  13.125000    24  32.916667    24  15.416667     24  73.625
2020-01-03    24  13.708333    24  28.583333    11  23.545455     24  74.875
2020-01-04    24   5.166667    24  43.333333    24  20.500000     24  84.500
2020-01-05    24   6.708333    24  17.500000    24   8.250000     24  81.375
...          ...        ...   ...        ...   ...        ...    ...     ...
2020-02-14    24  11.333333    24  37.583333    24  19.375000     24  56.250
2020-02-15    24  10.083333    24  22.250000    24  10.500000     24  56.125
2020-02-16    24  10.333333    24  22.541667    24  11.416667     24  68.625
2020-02-17    24  12.208333    24  23.916667    24  13.125000     24  57.875
2020-02-18    24  17.166667    24  38.291667    24  24.041667     24  68.250

           COroll
            count     max
date
2020-01-01     17  0.0000
2020-01-02     24  2.6500
2020-01-03     24  1.3500
2020-01-04     24  0.4000
2020-01-05     24  0.4625
...           ...     ...
2020-02-14     24  1.9375
2020-02-15     24  0.3875
2020-02-16     24  0.4000
2020-02-17     24  1.4500
2020-02-18     24  2.7875

[49 rows x 10 columns]

# C6H6

In [6]:
lines_of_new_file.append("ΒΕΝΖΟΛΙΟ")
lines_of_new_file.append(" ")

In [7]:
#Μέτρηση έγκυρων τιμών και έλεγχος πληρότητας

data.replace('', np.nan).count()
c = data['C6H6'].count()

lines_of_new_file.append(f"Οι συνολικές ωριαίες τιμές είναι: {data.shape[0]} ")
lines_of_new_file.append(f"Οι έγκυρες ωριαίες τιμές είναι: {c}")

if c > (0.9*data.shape[0]):
    lines_of_new_file.append("Ικανοποιείται ο έλεγχος πληρότητας (90% των ωριαίων τιμών)")
else:
    lines_of_new_file.append("Δεν ικανοποιείται ο έλεγχος πληρότητας(90% των ωριαίων τιμών)")

In [8]:
# Έλεγχος οριακής τιμής στο ημερολογιακό έτος (5 μg/m3)

rdch6 = round(data['C6H6'].mean(), 2)
lines_of_new_file.append(f"Μέση παρατηρούμενη ετήσια τιμή: {rdch6} μg/m3 ")

if data['C6H6'].mean() > 5:
    lines_of_new_file.append("Γίνεται υπέρβαση του ορίου (5 μg/m3)")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου (5 μg/m3)")

# NO2

In [9]:
lines_of_new_file.append(" ")
lines_of_new_file.append("NO2")
lines_of_new_file.append(" ")

In [10]:
#Μέτρηση έγκυρων τιμών και έλεγχος πληρότητας (ωριαίο)

dno2 = data['NO2'].count()
lines_of_new_file.append(f"Οι συνολικές τιμές είναι {data.shape[0]}")
lines_of_new_file.append(f"Οι έγκυρες τιμές είναι {dno2}")

if data['NO2'].count() > (0.9*data.shape[0]):
    lines_of_new_file.append("Ικανοποιείται ο έλεγχος πληρότητας (90% των ωριαίων τιμών)")
else:
    lines_of_new_file.append("Δεν ικανοποιείται ο έλεγχος πληρότητας (90% των ωριαίων τιμών)")

In [11]:
# Ωριαία οριακή τιμή (200μg/m3 έως 18 φορές τον χρόνο)

if data.loc[data.NO2 > 200, 'NO2'].count() > 18 :
    lines_of_new_file.append("Γίνεται υπέρβαση του ορίου (200μg/m3 έως 18 φορές τον χρόνο)") 
else:
    dnoo22loc = data.loc[data.NO2 > 200, 'NO2'].count()
    lines_of_new_file.append(f"Δεν γίνεται υπέρβαση του ορίου στην ωριαία οριακή τιμή (200μg/m3) για πάνω από 18 φορές το έτος. Aριθμός υπερβάσεων: {dnoo22loc}")

In [12]:
# Οριακή τιμή στο ημερολογ. έτος = 40 μg/m3

if data['NO2'].mean() > 40:
    dno2mean = round(data['NO2'].mean(), 1)
    lines_of_new_file.append(f"Γίνεται υπέρβαση του ορίου (40 μg/m3): {dno2mean} μg/m3")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου (40 μg/m3)")

# SO2

In [13]:
lines_of_new_file.append(" ")
lines_of_new_file.append("SO2")

In [14]:
#Μέτρηση έγκυρων τιμών και έλεγχος πληρότητας (ωριαίο)

so2c = data['SO2'].count()
lines_of_new_file.append(f"Οι συνολικές ωριαίες τιμές είναι {data.shape[0]}")
lines_of_new_file.append(f"Οι έγκυρες ωριαίες τιμές είναι {so2c}")

if data['SO2'].count() > (0.9*data.shape[0]):
    lines_of_new_file.append("Ικανοποιείται ο έλεγχος πληρότητας (90% των ωριαίων τιμών)")
else:
    lines_of_new_file.append("Δεν ικανοποιείται ο έλεγχος πληρότητας (90% των ωριαίων τιμών)")

In [15]:
# Ωριαία οριακή τιμή (350μg/m3 έως 24 φορές τον χρόνο)

if data.loc[data.SO2 > 350, 'SO2'].count() > 24 :
    lines_of_new_file.append("Γίνεται υπέρβαση του ορίου (350μg/m3 έως 24 φορές τον χρόνο)") 
else:
    lines_of_new_file.append("Δεν γίνεται υπέρβαση του ορίου στην ωριαία οριακή τιμή (350μg/m3) για πάνω από 24 φορές το έτος")

countso2 = data.loc[data.SO2 > 350, 'SO2'].count()
lines_of_new_file.append(f"Οι συνολικές υπερβάσεις ήταν: {countso2}")
lines_of_new_file.append(" ")

In [16]:
#Μέτρηση έγκυρων τιμών και έλεγχος πληρότητας για την ημερήσια οριακή τιμή (ημερήσιο)

groups_so2 = len(grouped_single['SO2']) - grouped_single['SO2']['count'].le(18).sum()
lines_of_new_file.append(f"Οι συνολικές ημερήσιες τιμές είναι {grouped_single.shape[0]}")
lines_of_new_file.append(f"Οι έγκυρες ημερήσιες τιμές είναι {groups_so2}")

if (len(grouped_single['SO2']) - grouped_single['SO2']['count'].le(18).sum()) > (0.9*data.shape[0]):
    lines_of_new_file.append("Ικανοποιείται ο έλεγχος πληρότητας")
else:
    lines_of_new_file.append("Δεν ικανοποιείται ο έλεγχος πληρότητας")

In [17]:
# Ημερήσια οριακή τιμή (125μg/m3 έως 3 φορές τον χρόνο)

if grouped_single['SO2']['mean'].gt(125).sum() > 3:
    lines_of_new_file.append("Παρατηρείται υπέρβαση του ορίου (125μg/m3 έως 3 φορές τον χρόνο)")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου (125μg/m3 έως 3 φορές τον χρόνο)")

group_singl_mean = grouped_single['SO2']['mean'].gt(125).sum()
lines_of_new_file.append(f"Συνολικές υπερβάσεις που παρατηρήθηκαν: {group_singl_mean}")
lines_of_new_file.append(" ")

# PM10

In [18]:
lines_of_new_file.append("PM10")
lines_of_new_file.append(" ")

In [19]:
#Έλεγχος πληρότητας (και για τα 2)

lines_of_new_file.append(f"Συνολικές ημερήσιες τιμές: {grouped_single.shape[0]}")

checkpm10len =  len(grouped_single['PM10']) - grouped_single['PM10']['count'].le(18).sum()
lines_of_new_file.append(f"Οι έγκυρες ημερήσιες τιμές είναι {checkpm10len}")

if grouped_single['PM10']['mean'].count() > (0.9*grouped_single.shape[0]):
    lines_of_new_file.append("Ικανοποιείται ο έλεγχος πληρότητας (90% των ημερήσιων τιμών)")
else:
    lines_of_new_file.append("Δεν ικανοποιείται ο έλεγχος πληρότητας (90% των ημερήσιων τιμών)")

In [20]:
# Οριακή τιμή ημέρας = 50μg/m3 έως 35 φορές το έτος

if grouped_single['PM10']['mean'].gt(50).sum() > 35:
    lines_of_new_file.append("Παρατηρείται υπέρβαση του ορίου (50μg/m3 έως 35 φορές το έτος)")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου (50μg/m3 έως 35 φορές το έτος)")
    
gr_sin_pm10 = grouped_single['PM10']['mean'].gt(50).sum()
lines_of_new_file.append(f"Συνολικές υπερβάσεις που παρατηρήθηκαν: {gr_sin_pm10}")

In [21]:
# Οριακή τιμή έτους = 40 μg/m3 (με βάση τις ημερήσιες τιμές και όχι τις ωριαίες)

gr_sing_mean = round(grouped_single['PM10']['mean'].mean(),1)
lines_of_new_file.append(f"Η οριακή τιμή του έτους είναι {gr_sing_mean}")

if grouped_single['PM10']['mean'].mean() > 40:
    lines_of_new_file.append("Παρατηρείται παραβίαση του ορίου (40 μg/m3)")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου (40 μg/m3)")

# PM2.5

In [22]:
lines_of_new_file.append(" ")
lines_of_new_file.append('PM2.5')
lines_of_new_file.append(" ")

In [23]:
# Έλεγχος πληρότητας για το έτος 

lines_of_new_file.append(f"Συνολικές τιμές: {grouped_single.shape[0]}")

gr_pm10_pm25 = len(grouped_single['PM10']) - grouped_single['PM2.5']['count'].le(18).sum()
lines_of_new_file.append(f"Οι έγκυρες τιμές είναι {gr_pm10_pm25}")

if len(grouped_single['PM10']) - grouped_single['PM2.5']['count'].le(18).sum() > (0.9*grouped_single.shape[0]):
    lines_of_new_file.append("Ικανοποιείται ο έλεγχος πληρότητας")
else:
    lines_of_new_file.append("Δεν ικανοποιείται ο έλεγχος πληρότητας")

In [24]:
# Οριακή τιμή έτους = 25 μg/m3 (με βάση τις ημερήσιες τιμές και όχι τις ωριαίες)

ch_pm25_mean = round(grouped_single['PM2.5']['mean'].mean(),1)
lines_of_new_file.append(f"Η οριακή τιμή του έτους είναι {ch_pm25_mean}")

if grouped_single['PM2.5']['mean'].mean() > 25:
    lines_of_new_file.append("Παρατηρείται παραβίαση του ορίου (25 μg/m3)")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου 25 μg/m3")

# O3

In [25]:
lines_of_new_file.append(" ")
lines_of_new_file.append('O3')
lines_of_new_file.append(" ")

In [46]:
# Ημερήσιος μέσος όρος 8ώρου/ για να είναι τα δεδομένα πλήρη απαιτούνται 18 8ωροι μέσοι όροι για κάθε μέρα (75%)

lines_of_new_file.append(f"Οι συνολικές τιμές (ημερήσιος μέσος όρος 8ώρου) είναι {grouped_single.shape[0]}")
gr_le_o3roll = len(grouped_single['O3roll']) - grouped_single['O3roll']['count'].le(18).sum()
lines_of_new_file.append(f"Οι έγκυρες τιμές (18 8ωροι μέσοι όροι για κάθε μέρα (75%)) είναι {gr_le_o3roll}")

print(grouped_single['O3roll']['count'].le(18).sum())
pd.set_option('display.max_rows', 20)

lines_of_new_file.append("different results from excel")

11

In [27]:
# Τιμή ορίου μέγιστου ημερήσιου 8ωρου: 120μg/m3 έως 25 φορές τον χρόνο σε διάστημα 3 χρόνων

gr_o3roll_max = round(grouped_single['O3roll']['max'].max(), 1)
lines_of_new_file.append(f"Η οριακή τιμή του έτους είναι {gr_o3roll_max} μg/m3")

if grouped_single['O3roll']['max'].max() > 120 and grouped_single['O3roll']['count'].gt(18): 
    lines_of_new_file.append("Παρατηρείται παραβίαση του ορίου (120μg/m3 έως 25 φορές τον χρόνο σε διάστημα 3 χρόνων)")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου (120μg/m3 έως 25 φορές τον χρόνο σε διάστημα 3 χρόνων)")
    
grorollmaxsum = grouped_single['O3roll']['max'].gt(120).sum() 
lines_of_new_file.append(f"Συνολικές παραβιάσεις μέγιστου ημερήσιου 8ώρου: {grorollmaxsum}")

In [28]:
# Όριο συναγερμού: 240 μg/m3 για 3 συνεχόμενες ώρες

times = 0
size = len(data['O3'])
  
for i in range(size - 2):
  
    if data['O3'][i] > 240 and data['O3'][i + 1] > 240  and data['O3'][i + 2] > 240:
        times += 1
        
lines_of_new_file.append(f"Yπερβάσεις του ορίου συναργερμού (240 μg/m3 για 3 συνεχόμενες ώρες) που παρατηρήθηκαν: {times}")

# CO

the data for this pollutant are not for the station of Pireus but for the station of Patision, Greece

In [29]:
lines_of_new_file.append(" ")
lines_of_new_file.append("CO")
lines_of_new_file.append(" ")

In [43]:
# Ημερήσιος μέσος όρος 8ώρου/ για να είναι τα δεδομένα πλήρη απαιτούνται 18 8ωροι μέσοι όροι για κάθε μέρα (75%)

lines_of_new_file.append(f"Οι συνολικές τιμές είναι {grouped_single.shape[0]}")
gr_coroll = len(grouped_single['COroll']['count']) - grouped_single['COroll']['count'].le(18).sum()
lines_of_new_file.append(f"Οι έγκυρες τιμές είναι {gr_coroll}")

#print(grouped_single['COroll']['count'].le(18).sum())

pd.set_option('display.max_rows', 50)
#print(grouped_single['COroll']['count'])

lines_of_new_file.append("different results from excel")
print(gr_coroll)

365

In [42]:
# Τιμή ορίου μέγιστου ημερήσιου 8ωρου: 10mg/m3 

cccc = round(grouped_single['COroll']['max'].max(), 2)
lines_of_new_file.append(f"Η οριακή τιμή του έτους είναι {cccc} mg/m3")

if grouped_single['COroll']['max'].max() > 10 and grouped_single['COroll']['count'].gt(18):
    lines_of_new_file.append("Παρατηρείται παραβίαση του ορίου (10mg/m3)")
else:
    lines_of_new_file.append("Δεν παρατηρείται υπέρβαση του ορίου (10mg/m3)")
    
gr_croll_maxx = grouped_single['COroll']['max'].gt(10).sum()
lines_of_new_file.append(f"Συνολικές παραβιάσεις μέγιστου ημερήσιου 8ωρου: {gr_croll_maxx}")

365

In [32]:
nm = f'{namee}_Output.csv'
with open(f'{namee}_Output.txt', 'w',encoding="UTF-8") as f:
    for line in lines_of_new_file:
        #l = str(line.encode("utf-8"))
        f.write(line)
        f.write('\n')
#df = pd.read_csv(nm)
#df.to_excel(f'{namee}_Output.xlsx', 'Sheet1')
#os.remove(nm)